* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #000000;
  padding: 0 30px;
  color: #ffffff;
}

header a {
  text-decoration: none;
}

header h3 {
  color: #ffffff;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

header.intro {
  justify-content: flex-end;
  position: fixed;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50px; */
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
}

header ul li {
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

header ul li a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

header ul li.active a {
  color: #cc005f;
}

header ul li.active::after {
  content: "";
  border-bottom: 5px solid #cc005f;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  flex: 1;
}

main.home .intro-section {
  position: relative;
  background-image: url(/assets/images/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

main.home .intro-overlay {
  content: " ";
  position: absolute;
  background: #111111;
  opacity: 0.85;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main.home .intro-content {
  color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.home .intro-content h5 {
  color: #cc005f;
  font-family: "poppins-bold", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px #00000033;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

main.home .intro-content h1 {
  color: #ffffff;
  font-family: "poppins-medium", sans-serif;
  font-size: 5.4rem;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px #00000080;
}

main.home .intro-content .intro-position {
  font-family: "lora-regular", serif;
  font-size: 1rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-shadow: 0 0 6px #00000033;
}

main.home .intro-content .intro-position span {
  display: inline-block;
}

main.home .intro-content .intro-position span:first-child::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: #ffffff4d;
}

main.home .intro-content .intro-position span::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px 0 14px;
  color: rgba(255, 255, 255, 0.3);
}

main.about,
main.projects {
  min-height: calc(100vh - 123px);
  padding-top: 2rem;
}

main.projects {
  text-align: center;
}

main.about .overview-section,
main.projects .overview-section {
  display: block;
  width: 700px;
  margin: 0 auto 2rem auto;
  text-align: center;
}

main.projects .project-list {
  display: inline-block;
  width: 700px;
  margin: 0 auto;
  text-align: left;
}

main.projects .project-list .project {
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px #cccccc;
  padding: 1.5rem;
}

main.about .overview-section .intro-info {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

main.about .overview-section > h5,
main.projects .overview-section > h5,
main.projects .project-list .responsibility-section h5 {
  color: #ff0077;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

main.about .overview-section > h1,
main.projects .overview-section > h1 {
  font-size: 2rem;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

main.about .overview-section .intro-info img {
  height: 9rem;
  border-radius: 50%;
}

main.projects .project-list .project p,
main.about .overview-section .intro-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #888888;
  text-align: left;
  margin-left: 3rem;
  font-weight: 300;
}

main.projects .project-list .project p {
  margin: 0 0 1rem 0;
  color: #000000;
  text-align: justify;
}

main.about .profile-skill-section {
  display: block;
  width: 700px;
  margin: 3rem auto;
}

main.about .profile-skill-section .section-wrapper {
  display: flex;
}

main.about .profile-skill-section .section-wrapper > * {
  flex: 1;
}

main.projects .project-list .project h3,
main.about .profile-skill-section .section-wrapper .profile-section h3,
main.about .profile-skill-section .section-wrapper .skill-section h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 600;
}

main.projects .project-list .project h3 {
  color: #ff0077;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  letter-spacing: 0.2rem;
}

main.projects .project-list .project ul,
main.about .profile-skill-section .section-wrapper .profile-section ul,
main.about .profile-skill-section .section-wrapper .skill-section ul {
  list-style: none;
  margin-left: 0;
}

main.projects .project-list .project ul {
  text-align: right;
}

main.about .profile-skill-section .section-wrapper .profile-section ul li,
main.about .profile-skill-section .section-wrapper .skill-section ul li {
  margin-bottom: 1.5rem;
}

main.projects .project-list .project ul li strong,
main.about
  .profile-skill-section
  .section-wrapper
  .profile-section
  ul
  li
  strong,
main.about .profile-skill-section .section-wrapper .skill-section ul li strong {
  font-weight: 600;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  line-height: 2rem;
}

main.projects .project-list .project ul li strong {
  display: inline-block;
}

main.projects .project-list .project ul li span,
main.about .profile-skill-section .section-wrapper .profile-section ul li span,
main.about .profile-skill-section .section-wrapper .skill-section ul li span {
  display: block;
  font-weight: 400;
  color: #888888;
  font-size: 1rem;
  line-height: 1;
}

main.projects .project-list .project ul li span {
  display: inline-block;
}

main.about .profile-skill-section .section-wrapper .skill-section ul li span {
  line-height: 1.5;
}

main.projects .project-list .responsibility-section {
  margin-bottom: 1rem;
}

main.projects .project-list .responsibility-section h5 {
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

main.projects .project-list .responsibility-section ul {
  list-style: initial;
  text-align: left;
  margin-left: 1rem;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  text-align: center;
  background-color: #000000;
  color: #6e6e6e;
  font-size: 0.8rem;
  font-family: "poppins-regular", sans-serif;
}

footer.intro {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer span:first-child {
  display: flex;
  align-items: center;
}

footer span:first-child a {
  color: #6e6e6e;
}

footer span:last-child img {
  height: 20px;
  margin-left: 10px;
}
